

html, body{width: 100%; height: 100%;}
body, h1, h2,h3,h4,h5,h6,p,dl,dd,ol,ul,form, input,textarea,th,td,select { margin:0; padding:0;}
em,i { font-style:normal;}
li { list-style:none;}
a { text-decoration:none; cursor:pointer; }
i.fa{margin-right: 5px;font-size: 20px;}

a:focus {outline:none;}
b{ font-weight:normal;}
img { border:none; vertical-align:top;}
input, textarea {vertical-align: middle;outline: none; border:none; background:none;box-sizing:content-box;}
textarea { resize:none; overflow:auto; }
table { border-spacing:0px; border:none; border-collapse:collapse;}
body, input, select, button, textarea { font-size: 12px;font-family:tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;}
body{font-family:幼圆, Arial, Helvetica, sans-serif;color:#000;background-color: #F5F5F5;   display: block;}
a{color: #000;}

.clear { zoom:1; }
.ovfl { overflow: hidden}
.clear:after { content:''; display:block; clear:both; }
.fl { float:left;}
.fr { float:right;}

.fa{
    font-family: iconfont;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;}

.header{position: fixed; top: 0; left: 0; right: 0; height: 48px; background-color: #496;}
/*.header>div{width:100%; height:100%; line-height:48px; color:#fff; font-size:16px; text-align:center;}
.search-bar{position: relative;padding: 0 10px;}
.search-bar>div{height: 100%;position: absolute;left: 9px;right: 40px;}
.search-bar span:first-child{display: block;position: absolute;left: 14px;top: 0;padding-right: 10px;}
.search-bar span:last-child{display:block; position:absolute; right:18px; top:0;padding: 0 6px;}
.search-bar  span>i{ color:#fff; font-size:20px;}*/

.goback{width:15%;display: block;float: left; height:100%; line-height:48px; color:#fff; font-size:16px; text-align:center;}
.header div{width:70%;float: left; height:100%; line-height:48px; color:#fff; font-size:16px; text-align:center;}
.menu-list{width: 15%;float: left; height:100%; line-height:48px; color:#fff; font-size:16px; text-align:center;}


.footer{position:fixed; left:0; right:0; bottom:0; height:40px; border-top: solid 1px #ccc; padding:7px 0; background-color:#fff;}
.footer a{display:block; float:left; text-align:center; color:#777 ;}
.footer span{display:block;}

.content{position: fixed; top: 48px; bottom: 54px; left: 0; right: 0;overflow:auto;}

.top-list{
    display: none;
    width: 126px;
    position: absolute;
    top:58px;
    right:10px;
    background: #484F55;
    z-index: 100;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 0.9;}
.top-list  li{
        border-bottom: 1px solid #5B6166;
        height: 38px;
        line-height: 38px;
        text-align: left;
        text-indent: 2.5em;
        background: #484F55;
        }
 .top-list  li a{
            position: relative;
            display: block;
            width: 100%;
            color: #fff;
            font-size: 13px;
        }

.mask{position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,0.2);}
.mask>i{position:fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 40px; color:#025c90;}

.item-hidden{display:none;}
